<div class="row">
  <div class="small-12 large-centered columns">
    <div class="panel">
      <h2>Hosts-files</h2>
      <h5 class="hosts"><%= "#{@scraper.hosts_files}".html_safe %></h5>
    </div>
  </div>
</div>
