<div class="panel">
  <h1>The Hosts-list has been updated</h1>
</div>
<ul class="large-block-grid-2">
  <li>
    <div class="panel">
      <%= link_to "View Hosts-files", scrapers_path %>
    </div>
  </li>
  <li>
    <div class="panel">
      <%= link_to "Home", schedules_path %>
    </div>
  </li>
</ul>
