<div class="title">
  <div class="panel">
    <h1>The Proxy Bot</h1>
    <h2><%= @name.name %></h2>
  </div>
</div>
<div class="row">
  <div class="small-8 large-centered columns">
    <div class="panel">
      <h5 class="hosts"><%= "#{@name.hosts_files}".html_safe %></h5>
    </div>
  </div>
</div>
