<div class="title">
  <div class="panel">
    <h1>The Proxy Bot</h1>
    <h2>Schedule a bot to keep your hosts files up to date</h2>
  </div>
</div>
<ul class="row">
  <li>
    <div class="panel">
      <h3><%= link_to "View Hosts-files", scrapers_path %></h3>
    </div>
  </li>
  <li>
    <div class="panel">
      <h2>Hosts-files were last updated at</h2>
      <h3><%= @scraped %></h3>
    </div>
  </li>
  <li>
    <div class="panel">
      <%= link_to "Force Update", new_scraper_path %>
    </div>
  </li>
</ul>
